@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Stencil:opsz,wght@10..72,100..900&family=Dancing+Script:wght@400..700&family=Diphylleia&family=Faculty+Glyphic&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Manrope:wght@200..800&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Playwrite+AU+SA:wght@100..400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Port+Lligat+Slab&family=Smooch+Sans:wght@100..900&family=Tektur:wght@400..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #fff;
  font-family: "Faculty Glyphic";
}

body {
  background-image: url(./assets/background.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  padding: 1rem;
}

nav {
  height: 50px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1.5rem;

  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.459);
  backdrop-filter: blur(1px);
  -webkit-backdrop-filter: blur(1px);
  border-radius: 10px;
  border: 1px solid rgba(173, 173, 173, 0.904);
}

.appCnt {
  width: 100%;
  display: flex;
  justify-content: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 450px;
  border-radius: 1rem;
  overflow: hidden;
  padding: 1rem;
  border: 1px solid;
  margin: 2rem 0;

  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.459);
  backdrop-filter: blur(1px);
  -webkit-backdrop-filter: blur(1px);
  border-radius: 10px;
  border: 1px solid rgba(173, 173, 173, 0.904);
}

.heading {
  width: 100%;
  font-size: 1.8rem;
  font-weight: normal;
  margin-bottom: 0.8rem;
}

.inputContainer {
  border-radius: 60px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 45px;
  border: 1px solid rgba(173, 173, 173, 0.904);
}

.acceptInput {
  flex: 1;
  border: none;
  padding: 0 1rem;
  font-size: medium;
  font-weight: lighter;
  background-color: transparent;

  &:focus {
    outline: none;
  }
}

.addTaskButton {
  padding: 0 1.6rem;
  border: none;
  font-size: large;
  background-color: #a761a7ad;

  border-left: 1px solid rgba(173, 173, 173, 0.904);
}

.orderList {
  width: 100%;
  margin-top: 1rem;
  list-style-type: none;
}

.listItems {
  display: flex;
  align-items: center;
  margin-top: 0.5rem;
  padding: 0.5rem;
  border-radius: 8px;
  border: 1px solid rgba(173, 173, 173, 0.904);
}

label {
  line-height: 0;
  display: flex;
  align-items: center;
  flex: 1;
}

input[type="checkbox"] {
  display: none;
}

.custom-checkbox {
  width: 24px;
  height: 24px;
  border: 2px solid #ac63ac;
  border-radius: 50%;

  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.3s ease;
  font-size: 16px;
  font-weight: bold;
}

input[type="checkbox"] {
  line-height: 0;
}

input[type="checkbox"]:checked + .custom-checkbox {
  background: #ac63ac;

  &::after {
    content: "✔";
  }
}

.circle-checkbox:checked + .custom-checkbox + .taskText {
  text-decoration: line-through;
  color: rgb(145, 143, 143);
}

.taskText {
  font-size: 1.2rem;
  margin: 0 0.6rem;
  line-height: 1.4rem;

  span {
    opacity: 0.7;
  }
}

.firstElement {
  display: flex;
  justify-content: center;
}

.Up_Down_btn,
.deleteBtn {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 0.5rem;
  font-size: 1.5rem;
  font-weight: lighter;
  background-color: transparent;
  border: 1px solid rgba(173, 173, 173, 0.904);

  transition: 0.1s ease-in-out;

  &:hover {
    background-color: #a761a7ad;
  }
}

.Up_Down_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 0;
  transform: rotate(90deg);
}

.nav_part1 {
  display: flex;
  a {
    text-shadow: 0px 0px 5px black;
    font-family: "Tektur", sans-serif;
    text-decoration: none;
    margin-left: 0.3rem;
  }
}

.nav_part2 {
  display: flex;
  align-items: center;
  height: 100%;

  svg {
    height: 35px;
    fill: white;
    margin-left: 0.6rem;
  }
}

.profilePic {
  height: 40px;
  width: 40px;
  clip-path: circle(50% at 50% 50%);
  background-color: orange;
  background-image: url(./assets/profile.png);
  background-position: center;
  background-size: cover;
  margin-left: 0.6rem;
}

@media (max-width: 425px) {
  .nav_part1 {
    display: block;

    a {
      margin: unset;
    }
  }

  .addTaskButton {
    font-size: 1rem;
    padding: 0.4rem;
    width: 110px;
  }

  .Up_Down_btn,
  .deleteBtn {
    border-radius: 5px;
    height: 30px;
    width: 30px;
  }
}
